<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>aste</display-name>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/dbprogetto?serverTimezone=UTC</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>tiw</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>123TiwPassword!</param-value>
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>

    <filter>
        <filter-name>LoginCheck</filter-name>
        <filter-class>it.polimi.tiw.asteHTML.Filters.LoginCheck</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginCheck</filter-name>
        <url-pattern>/auctiondetail.html</url-pattern>
        <url-pattern>/acquistopage.html</url-pattern>
        <url-pattern>/home.html</url-pattern>
        <url-pattern>/vendopage.html</url-pattern>
        <url-pattern>/Vendo</url-pattern>
        <url-pattern>/Acquisto</url-pattern>
        <url-pattern>/AddOffer</url-pattern>
        <url-pattern>/CloseAuction</url-pattern>
        <url-pattern>/CreateArticle</url-pattern>
        <url-pattern>/CreateAuction</url-pattern>
        <url-pattern>/DettaglioAsta</url-pattern>
        <url-pattern>/Home</url-pattern>
        <url-pattern>/Offerte</url-pattern>
    </filter-mapping>
</web-app>